/*elements reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*inherit styles*/
body{
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}
/*COLOR PALETTE*/
/* 
    LIGHT-BLUE: #B4D0E7
    BLUE: #0061FF
    BLACK: #000000
    WHITE: #FFFFFF
*/
/***************************************/
/*  FONT DEFINITION     */
/***************************************/
/*all EM calculated using 16px as default size*/
h1{
    font-size: 4.8125em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5625em;
}
h4,h5{
    font-size: 1em;
}
.small-text{
    font-size: 0.875em;
}
/***************************************/
/*  BUTTONS DEFINITION     */
/***************************************/
.blue-button{
    background-color: #0061FF;
    color: white;
    line-height: 4vh;
    padding: 0 30px;
    border: none;
    font-weight: 600;
    display: block;
}
/***************************************/
/*  COLUMNS     */
/***************************************/
.col-1_9{
    width: calc(100%/9)
}  
.col-2_9{
    width: calc(100%/9*2)
}  
.col-3_9{
    width: calc(100%/9*3)
}  
.col-4_9{
    width: calc(100%/9*4)
}  
.col-5_9{
    width: calc(100%/9*5)
}  
.col-6_9{
    width: calc(100%/9*6)
}  
.col-7_9{
    width: calc(100%/9*7)
}  
.col-1_9{
    width: calc(100%/9*8)
}  
[class^="col-"]{
    float: left;
}
/*****************************/
/*  CLASS UTILITIES */
/*****************************/
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/*  remember parent position relative   */
.super-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
/****************************/
/*  HEADING     */
/****************************/
header{
    width: 100%;
    padding: 2vh 0;
    font-weight: 600;  
}
/****************************/
/*  HEADING NAVBAR    */
/****************************/
header nav{
    display: inline-block;
}
header nav ul{
    list-style: none;
}
header nav ul li a{
    line-height: 4vh;
    text-decoration: none;
    color: black
}
header nav ul li a:hover{
    color:#0061FF
}
/*left section of navbar*/
header div.left-heading-nav{
    float: left;
    max-width: 50%;
    vertical-align: middle;
}
/*  dropbox logo    */
header div.left-heading-nav img{
    display: inline-block;  
    vertical-align: middle;
    height: 4vh
}
header div.left-heading-nav nav li{
    display: inline-block;
    padding-left: 40px;
}
/*right section of nav*/
header div.right-heading-nav{
    float: right;
    max-width: 50%;
    text-align: right;
}
header div.right-heading-nav nav li{
    display: inline-block;
    padding-right: 40px;
}
/****************************/
/*  MAIN    */
/****************************/
main section:nth-child(1){
    width: 100%;
    height: 90vh;
    background-color: #B4D0E7;
}
/*MAIN HERO STYLES*/
main section div.hero-container{
    margin: 0 calc(100%/9);
    position: relative;
    height: 90vh;
    float: none;
}
main section div.hero-container h1{
    position: absolute;
    top: 10vh;
    line-height: 12vh;
}
main section div.hero-container p{
    position: absolute;
    left: 0;
    top: 45vh;  
    width: 30%;
    font-weight: 600;
}
main section div.hero-container p button{
    margin-top: 3vh;
    margin-bottom: 1vh;
}
main section div.hero-container p span{
    display: block;
    font-size: 4em;
    font-weight: bold;
    margin-top: 3vh;
}
main section div.hero-container img{
    position: absolute;
    width: 60%;
    bottom: -40px;
    right: 0;
}
/***********************/
/* SECOND MAIN SECTION */
/***********************/
main section div.plan-selection-container{
    margin: 0 calc(100%/9*1.5);
    margin-top: 10%
}
main section div.plan-selection-container input[type="radio"]{
    color: blue;
    margin-top: 3%;
}
div.plan-card-container{
    width: 100%;
    margin-top: 2%
}
div.plan-card-container div.plan-card{
    width: 30%;
    border: solid yellowgreen;
    min-height: 100px;
    float: left
}
div.plan-card-container div.plan-card:nth-child(2){
    margin: 0 5%;
}
div.plan-card-container div.plan-card{
    width: 30%;
    border: solid black;
    min-height: 100px;
    float: left
}
div.plan-card-container div.plan-card div:nth-child(1){
    text-align: center;
    padding: 10px 0;
    border-bottom: solid black;
}
div.plan-card-container div.plan-card div:nth-child(2){
    padding: 20px;
    height: 130vh
}
div.plan-card-container div.plan-card div:nth-child(2) h3{
    line-height: 70px;
}
div.plan-card-container div.plan-card div:nth-child(2) h4{
    line-height: 40px;
}
span.grey{
    font-weight: 600;
    color: gray;
}
div.plan-card-container div.plan-card div:nth-child(2) ul{
    margin-top: 45px;
    font-weight: 600;
    list-style: none;
}
div.plan-card-container div.plan-card div:nth-child(2) li{
    margin-top: 25px;
}
div.plan-card-container div.plan-card div:nth-child(2) li i[class="fas fa-check"]{
    color: #0061FF;
}
div.plan-card-container div.plan-card div:nth-child(2) button{
    margin-top: 40px;
    width: 100%;   
}
div.plan-card-container div.plan-card div:nth-child(2) a{
    text-decoration: none;
    color: black;
    line-height: 60px;
}
div.plan-card-container div.plan-card div:nth-child(2) a span{
    color: #0061FF;
    text-decoration: underline;
}
div.plan-card-container div.plan-card div:nth-child(2) hr{
    width: 30%;
    margin: 30px 0;
}