@keyframes up-n-down {
    0%{
        transform: translateY(0);
        color: white;
    }
    50%{
        transform: translateY(100px);
        color: #0061FF;
    }
    100%{
        transform: traslateY(-100px);
        color: white;
    }
}
/*elements reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px black;
}
/*inherit styles*/
body{
    font-family: 'Open sans', sans-serif;
    font-size: 16px
    /*font-size: 1.2039127163280663vh;*/
}
/*COLOR PALETTE*/
/* 
    LIGHT-BLUE: #B4D0E7
    BLUE: #0061FF
    BLACK: #000000
    WHITE: #FFFFFF
*/
/***************************************/
/*  FONT DEFINITION     */
/***************************************/
/*all EM calculated using 16px as default size*/
h1{
    font-size: 77px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
h4,h5{
    font-size:  16px;
}
.small-text{
    font-size: 14px;
}
/***************************************/
/*  BUTTONS DEFINITION     */
/***************************************/
.blue-button{
    background-color: #0061FF;
    color: white;
    /*dimensione in vh per mantenere le dimensione della navbar*/
    padding: 10px 30px;
    border: solid transparent;
    font-weight: 600;
    display: block;
    cursor: pointer;
}
.blue-button:hover{
    color: #0061FF;
    background-color: transparent;
    border: solid #0061FF
}
.bw-button{
    color:black;
    border: solid black;
    line-height: 50px;
    padding: 0 30px;
    margin-top: 25px;
    font-weight: 600;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}
.bw-button:hover{
    border: solid #0061FF;
    color: #0061FF;
}
.white-button{
    color:black;
    line-height: 60px;
    padding: 0 30px;   
    font-weight: 600;
    background-color: white;
    font-size: 18px;
    border: none;
    float: right;
    cursor: pointer;
}
.white-button:hover{
    background-color: transparent;
    border: solid white;
    color: white
}
/***************************************/
/*  COLUMNS     */
/***************************************/
.col-1_9{
    width: calc(100%/9)
}  
.col-2_9{
    width: calc(100%/9*2)
}  
.col-3_9{
    width: calc(100%/9*3)
}  
.col-4_9{
    width: calc(100%/9*4)
}  
.col-5_9{
    width: calc(100%/9*5)
}  
.col-6_9{
    width: calc(100%/9*6)
}  
.col-7_9{
    width: calc(100%/9*7)
}  
.col-8_9{
    width: calc(100%/9*8)
}
.col-1_5{
    width: calc(100%/5)
}  
[class^="col-"]{
    float: left;
}
/*****************************/
/*  CLASS UTILITIES */
/*****************************/
.clearfix{
    content: "";
    display: table;
    clear: both;
}
/*  remember parent position relative   */
.super-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
/****************************/
/*  HEADING     */
/****************************/
header{
    width: 100%;
    padding: 20px 35px;
    font-weight: 600;  
    position: fixed;
    background-color: white;
    border-bottom: solid #0061FF;
    z-index: 99;
}
/****************************/
/*  HEADING NAVBAR    */
/****************************/
header nav{
    display: inline-block;
}
header nav ul{
    list-style: none;
}
header nav ul li a{
    line-height: 4vh;
    text-decoration: none;
    color: black
}
header nav ul li a:hover{
    color:#0061FF
}
/*left section of navbar*/
header div.left-heading-nav{
    float: left;
    width: 50%;
    vertical-align: middle;
}
/*  dropbox logo    */
header div.left-heading-nav img{
    display: inline-block;  
    vertical-align: middle;
    height: 4vh
}
header li{
    display: inline-block;
    padding-left: 20px;
}
/*right section of nav*/
header div.right-heading-nav{
    float: right;
    width: 50%;
    text-align: right;
}

/****************************/
/*  MAIN    */
/****************************/
/*hero section selector*/
main section:nth-child(1){  
    width: 100%;
    background-color: #B4D0E7;
}
/*MAIN HERO STYLES*/
main section div.hero-container{
    margin: 0 calc(100%/9);
    position: relative;
    float: none;
    bottom: -80px;
}
main section div.hero-container h1{
    line-height: 100px;
    padding-top: 10%;
    padding-bottom: 5%;
}
main section div.hero-container p{
    width: 30%;
    font-weight: 600;
    float: left;
    padding-top: 10%;
}
main section div.hero-container p button{
    margin-top: 40px;
    margin-bottom: 20px;
}
main section div.hero-container p span{
    display: block;
    font-size: 4em;
    font-weight: bold;
    margin-top: 30px;
    transition: 2s;
}
main section div.hero-container p span i{
    
    animation: up-n-down 2s infinite
}
main section div.hero-container img{
    width: 60%;
    float: right;
}
/***********************/
/* SECOND MAIN SECTION */
/***********************/
/*external div containing plans*/
main section div.plan-selection-container{
    margin: 0 calc(100%/9*1.5);
    margin-top: 10%;
    float: none
}
main section div.plan-selection-container input[type="radio"]{
    color: blue;
    margin-top: 3%;
}
main section div.plan-selection-container label{
    margin-right: 25px;
}
div.plan-card-container{
    width: 100%;
    margin-top: 2%
}
/*single card*/
div.plan-card-container div.plan-card{
    width: 30%;
    min-height: 100px;
    float: left
}
div.plan-card-container div.plan-card:nth-child(2){
    margin: 0 5%;
}
div.plan-card-container div.plan-card{
    width: 30%;
    border: solid 1px black;
    min-height: 100px;
    float: left;
}
div.plan-card-container div.plan-card div:nth-child(1){
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 1px black;
}
div.plan-card-container div.plan-card div:nth-child(2){
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
}
/* !selettori per la scrollbar su chrome */
div.plan-card-container div.plan-card div:nth-child(2)::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
}

div.plan-card-container div.plan-card div:nth-child(2)::-webkit-scrollbar-thumb {
    background: #0061FF;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

div.plan-card-container div.plan-card div:nth-child(2)::-webkit-scrollbar-corner {
    background: #000;
}
div.plan-card-container div.plan-card div:nth-child(2) h3{
    line-height: 70px;
}
div.plan-card-container div.plan-card div:nth-child(2) h4{
    line-height: 40px;
}
span.grey{
    font-weight: 600;
    color: gray;
}
div.plan-card-container div.plan-card div:nth-child(2) ul{
    margin-top: 45px;
    font-weight: 600;
    list-style: none;
}
div.plan-card-container div.plan-card div:nth-child(2) li{
    margin-top: 25px;
}
div.plan-card-container div.plan-card div:nth-child(2) li i[class="fas fa-check"]{
    color: #0061FF;
}
div.plan-card-container div.plan-card div:nth-child(2) button{
    margin-top: 40px;
    width: 100%;   
}
div.plan-card-container div.plan-card div:nth-child(2) a{
    text-decoration: none;
    color: black;
    line-height: 60px;
}
div.plan-card-container div.plan-card div:nth-child(2) a span{
    color: #0061FF;
    text-decoration: underline;
}
div.plan-card-container div.plan-card div:nth-child(2) hr{
    width: 30%;
    margin: 30px 0;
}
/*enterprise main section*/
div.enterprise-container{
    margin: 0 calc(100%/9*1.5);
    float: none;
    margin-top: 5%;
    border: solid 1px black;
}
div.enterprise-container div:nth-child(1){
    width: 100%;
    border-bottom: solid 1px black;
    text-align: center;
}
div.enterprise-container div:nth-child(1) i{
    line-height: 60px;
}
div.enterprise-container div:nth-child(2){
    width: 70%;
    float: left;
    padding: 10px;
}
div.enterprise-container div:nth-child(2) h3{
    line-height: 60px;
}
div.enterprise-container div:nth-child(2) h4{
    line-height: 50px;
}
div.enterprise-container div:nth-child(3){
    width: 30%;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}
div.enterprise-container div:nth-child(3) button{
    width: 100%;
}
/* SECTION PARTNER */
div.partner-container{
    margin: 0 calc(100%/9*1.5);
    float: none;
    margin-top: 10%
}
div.partner-container img{
    width: 50%;
    float: left;
}
div.partner-container div{
    width: 50%;
    float: right;
    padding: 50px;
}
div.partner-container div p{
    margin-top: 30px;
}
/*business section*/
.business-container{
    margin: 0 calc(100%/9*1.5);
    float: none;
    margin-top: 10%;
}
.business-ops{
    width: 30%;
    float: left;
    margin-top: 5%;
}
.business-ops:nth-child(3), .business-ops:nth-child(6) {
    margin: 0 5%;
    margin-top: 5%;
}
.business-ops img{
    width: 100%;
}
.business-footer{
    margin-top: 20%;
    width: 50%;
    float: left;
}
/*sponsor section*/
div.sponsor-container{
    width: 100%;
    margin-top: 100px;
}
div.sponsor-container div{
    float: left;
}
div.sponsor-container div.sponsor-center-container{
    width: 40%;
    padding: 50px;
    background-color: #F5F5F5;
    height: 30vw;
}
div.sponsor-container div.sponsor-center-container img{
    width: 30%;
}
div.sponsor-container div.sponsor-center-container hr{
    width: 15%;
    margin-top: 25px;
}
div.sponsor-container div.sponsor-center-container p{
    margin-top: 50px;
}
div.sponsor-container div.sponsor-side-container{
    width: 30%;
}
div.sponsor-container div.sponsor-side-container div{
    width: 50%;
    height: 15vw;
    position: relative;
}
div.sponsor-container div.sponsor-side-container div svg{
    width: 70%;
    text-align: center;
}
/*sponsor section colors*/
.sponsor-green{
    background-color: #A2D39B;
}
.sponsor-green::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 10px solid #D0E9CD;
    z-index: 3;
}
.sponsor-darkred{
    background-color: #61082B;
}
.sponsor-blue{
    background-color: #0093CE;
}
.sponsor-hotred{
    background-color: #FF1C1C;
}
.sponsor-smoothred{
    background-color: #D5001F;
}
.sponsor-tiffany{
    background-color: #B4D0E7;
}
.sponsor-darkblue{
    background-color: #0D2481;
}
.sponsor-yellow{
    background-color: #FFD830;
}
div.sponsor-bottom-container{
    width: 100%;
    padding: 130px 10%;
}
.darkred{
    color: #61082B;
    width: 40%;
    float: left;

}
/*faq section*/
div.faq-container{
    float: none;
    height: 100px;
    margin: 0 calc(100%/9);
    margin-top: 10%;
}
div.faq-container span{
    color: grey;
    padding-bottom: 15px;
    display: inline-block;
}
div.faq-container ul{
    list-style: none;
}
div.faq-container ul li{
    width: 100%;
    border-top: solid 1px black;
    position: relative;
}
div.faq-container h4{
    float: left;
    width: 90%;
    line-height: 80px;
}
div.faq-container button{
    float: right;
    background: transparent;
    border: none;
    padding: 0 50px;
    line-height: 80px;
    transform: rotate(90deg);
    transition: 0.5s;
}
.faq-to-show{
    display: none;
    padding: 0 30px;
}
.faq-to-show h3, .faq-to-show p{
    width: 90%;
}
.faq-to-show p{
    padding-bottom: 15px;
}
div.faq-container button:active{
    transform: rotate(360deg);
    transform: scale(160%);
    color: #0061FF;
}
div.faq-container button:active + .faq-to-show{
    display: block;
}
/*SECTION FOOTER*/
footer{
    margin-top: 15%;
}
.footer-container{
    background-color: black;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: calc(100%/7);
    padding-right: calc(100%/7);
}
.footer-container ul{
    list-style: none;
    color: white;
}
.footer-container ul li:first-of-type{
    line-height: 60px;
}
.footer-container ul li:first-of-type:hover{
    color: white
}
.footer-container ul li{
    line-height: 40px;
}
.footer-container ul li:hover{
    color: #0061FF
}
.footer-lang-container{
    padding-left: calc(100%/7);
    padding-right: calc(100%/7);
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: black;
    width: 100%;
}
.footer-lang-container hr{
    width: 10%;
    color: white
}
.footer-lang-container p{
    color: white;
    margin-top: 3%;
}
.footer-lang-container p i:last-of-type{
    vertical-align: bottom;
}
